parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        ## todo?
        - '#type specified in iterable type#'
        - '#Unsafe usage of new static#'
        - '#extends generic class#'
        - '#return type with generic#'
        - '#DOMNode\|null#'
        - '#function call_user_func_array expects callable#'
        ## old stuff
        - '#Method eyupcanakman\\SimpleHtmlDom\\HtmlDomParser::findOne\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\HtmlDomParser::findMulti\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\HtmlDomParser::findOneOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\HtmlDomParser::findMultiOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleHtmlDomNode::findOne\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleHtmlDomNode::findMulti\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleHtmlDomNode::findOneOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleHtmlDomNode::findMultiOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\XmlDomParser::findOne\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\XmlDomParser::findMulti\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\XmlDomParser::findOneOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\XmlDomParser::findMultiOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleXmlDomNode::findOne\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleXmlDomNode::findMulti\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleXmlDomNode::findOneOrFalse\(\) should return#'
        - '#Method eyupcanakman\\SimpleHtmlDom\\SimpleXmlDomNode::findMultiOrFalse\(\) should return#'
        - '#method eyupcanakman\\SimpleHtmlDom\\SimpleHtmlDomNodeBlank::findOne\(\) should be compatible with return type#'